:root {
  --color-primary: #4D5057;
  --color-secondary: #EFE9E7;
  --color-tertiary: #5C95FF;
  --color-pros: #78BC61;
  --color-cons: #FF6666;
  --color-warning: #FFCD70;
}

.App {
  text-align: center;
}

.appContainer{
  padding-top: 10vh;
  min-height: 100vh;
  background-color: var(--color-secondary);
}

#logo{
  width: 40vh;
}